## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [32]:
# your code here
for word in words:
  print(word.upper()) # Convert to uppercase and print

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [33]:
# your code here
new_list = [word for word in words if len(word) >= 5]
new_list

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [43]:
# your code here
for word in words:
  if word[0] == 't':
    print(word)
    break  # Exit the loop after finding the first match

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [35]:
# your code here
square_list = [num**2 for num in range(1 , 11)]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [36]:
# your code here
odd_square_list = []
for num in range(1,11):
  if num %2 == 1: # Check if the number is odd
   odd_square_list.append(num**2) # Add the  the square of number to the list
odd_square_list

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [45]:
# your code here
multiples_list = []
for num in range(1, 1000):
  if num % 8 == 0:  # Check if the number is a multiple of 8
    multiples_list.append(num**2)  # Add the number to the list

# Output the list of multiples of 8
multiples_list

[64,
 256,
 576,
 1024,
 1600,
 2304,
 3136,
 4096,
 5184,
 6400,
 7744,
 9216,
 10816,
 12544,
 14400,
 16384,
 18496,
 20736,
 23104,
 25600,
 28224,
 30976,
 33856,
 36864,
 40000,
 43264,
 46656,
 50176,
 53824,
 57600,
 61504,
 65536,
 69696,
 73984,
 78400,
 82944,
 87616,
 92416,
 97344,
 102400,
 107584,
 112896,
 118336,
 123904,
 129600,
 135424,
 141376,
 147456,
 153664,
 160000,
 166464,
 173056,
 179776,
 186624,
 193600,
 200704,
 207936,
 215296,
 222784,
 230400,
 238144,
 246016,
 254016,
 262144,
 270400,
 278784,
 287296,
 295936,
 304704,
 313600,
 322624,
 331776,
 341056,
 350464,
 360000,
 369664,
 379456,
 389376,
 399424,
 409600,
 419904,
 430336,
 440896,
 451584,
 462400,
 473344,
 484416,
 495616,
 506944,
 518400,
 529984,
 541696,
 553536,
 565504,
 577600,
 589824,
 602176,
 614656,
 627264,
 640000,
 652864,
 665856,
 678976,
 692224,
 705600,
 719104,
 732736,
 746496,
 760384,
 774400,
 788544,
 802816,
 817216,
 831744,
 846400,
 861184,
 876096,
 891136,
 906304,
 921600,
 937024,
 952576,
 968256,
 984064]

## People

In [38]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [39]:
# your code here
print("The total number of people is : " ,len(people))

The total number of people is :  5

**How many people have kids**?

In [40]:
# your code here
# Count the number of people who have kids
count = len([person for person in people if person['n_kids'] > 0])

# Output the count
print("the number of people who have kids : " , count)

the number of people who have kids :  4

**How many kids do they have in total?**

In [41]:
# your code here
# Calculate the total number of kids by summing 'n_kids' for each person in the list
total_kids = sum(person['n_kids'] for person in people)

# Output the total number of kids
print("The total number of kids is : " , total_kids)

The total number of kids is :  10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [42]:
# your code here
new_people = []
for person in people:
  new_person = person.copy()  # Create a copy to avoid modifying the original list
  if new_person['name'][-1] == 'a':  # Check if the name ends with 'a'
    new_person['n_kids'] += 1  # Increment 'n_kids' if condition is met
  new_people.append(new_person)  # Add the modified person to the new list

print(" ----- The updated list ----- ")
new_people  # Return the updated list

 ----- The updated list -----

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 2},
 {'name': 'Lucía', 'age': 22, 'n_kids': 3},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]